body {
	animation: anim 3s;
}

@keyframes anim {
 0% {background: rgb(0,173,238);} 
 25%{background:rgb(246,135,30); }
50% {background: rgb(117,76,40);} 
75%{background: rgb(235,76,139);} 
100%{background: rgb(0,173,238);}
}
