
body {
background-color: #ffffff;
background-image: url("img/overlay.png"), -moz-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url("../img/bg-2.png");
background-image: url("img/overlay.png"), -webkit-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url("../img/bg-2.png");
background-image: url("img/overlay.png"), -ms-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url("../img/bg-2.png");
background-image: url("img/overlay.png"), linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url("../img/bg-2.png");
background-repeat: no-repeat;
background-size: cover;
}

/* POSICIONAMIENTO */
.containter_padre {

}
.position_relative {
	position: relative;
}
.position_absolute {
position: absolute;
}
.centrado_horizontal {
	margin: 0 auto;
	text-align: center;
}
.margin_top {
	margin-top: 100px;
}
/* FIN POSICIONAMIENTO */

#avatar {
	height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 300px;
    border-radius: 100%;
}

#frame {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 350px;
	background-color: white;
	border-radius: 10px;
}

.margin_top_20 {
	margin-top: 20px;
}
.font {
	font-family: arial;
	color: ;
	/*letter-spacing*/
}

.font_size_1 { font-size: 20px; }

.font_size_2 { font-size: 15px; }

.font_size_3 { font-size: 11px; }

.icon-size {
	font-size: 45px;
}
.icon-color {
	color: grey; 
/*	text-shadow: x y blur color; */
}


footer {
	color: white;
	height: auto;
}
}